div.create-container
  form(action="/aspiration",  method="post")
    input(type="text", placeholder="add aspiration", required="required", name="aspiradion")
    input(type="text", placeholder="add additional", required="required", name="addisional")
    button Create