div.create-container
  form(action="/contacts",  method="post")
    input(type="text", placeholder="add email", required="required", name="gmail")
    input(type="text", placeholder="add linkedin", required="required", name="addisional")
    button Create