div.create-container
  form(action="/create",  method="post")
    input(type="text", placeholder="add education", required="required", name="educasion")
    input(type="text", placeholder="add additional", required="required", name="addisional")
    button Create
    //- this is for creating education
    //- there is no id in action as new creation will create an id 