div.create-container
  form(action="/description",  method="post")
    input(type="text", placeholder="add description ", required="required", name="descripdion")
    input(type="text", placeholder="add additional", required="required", name="addisional")
    button Create