div.create-container
  form(action="/name",  method="post")
    input(type="text", placeholder="add name ", required="required", name="named")
    input(type="text", placeholder="add additional", required="required", name="addisional")
    button Create