div.create-container
  form(action="/projects",  method="post")
    input(type="text", placeholder="add project ", required="required", name="projecd")
    input(type="text", placeholder="add additional", required="required", name="addisional")
    button Create