div.create-container
  form(action="/register",  method="post")
    input(type="text",id="name" placeholder="Pls enter name", required="required", name="name")
    input(type="text",id="email" placeholder="Pls enter email", required="required", name="email")
    input(type="text",id="password" placeholder="Pls enter password", required="required", name="password")
    button Register
a(href= "/") Login
           