div.create-container
  form(action="/technologies",  method="post")
    input(type="text", placeholder="add technologies ", required="required", name="technolojies")
    input(type="text", placeholder="add additional", required="required", name="addisional")
    button Create